.Images {
    height: 280px;
    width: 380px;
}
.Servings {
    text-align: center;
    margin-top: 10px;
}

.page {
    padding: 20px;
    background-color: #F5F7FA;
    color: rgba(255,59,29,1);
    border: solid 1px rgba(255,59,29,1);
    overflow: hidden;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.page-number{
    color: #252A34;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}
.Titles {
    text-transform: uppercase;
    color: rgba(255,59,29,1);
}
.page.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.flip-book {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-size: cover;
}
.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
    10px 0 8px 0px rgba(0, 0, 0, 0.4);
}