.Upload{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 25%;
    width: 14%;
}

.Inp, type {
    text-align: center;
    color: rgba(255,59,29,1);
    font-weight: bolder;
}