@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato&family=Rubik:wght@300&family=Sansita+Swashed:wght@300&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  font-family: 'Courgette', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Sansita Swashed', cursive;
}
.Header{
  height: 22%;
}
.Header, h1 {
  text-align: center;
  color: rgba(255,59,29,1);
  margin-top: 10px;
  font-weight: bolder;
}
.Results{
  margin-left: 18%;
}
.Buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
}